@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  * {
    @apply outline-none;
  }
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}
